.graphview__container {
    overflow: scroll;
    .main__svg {
        max-width: 80vw;
        max-height: 80vh;
        min-width: 1000px;
        min-height: 1000px;
        overflow: scroll;
    }
}
