@import "./../../config/theme";

.navbar__container {
    height: 10vh;
    background-color: $bg-color;
    box-shadow: 1px 1px 3px rgb(179, 150, 150);
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0px auto;

    img {
        width: 10vh;
        height: 8vh;
        animation: App-logo-spin infinite 5s linear;
    }

    ul {
        list-style: none;
        margin-right: 60px;
        li {
            display: inline-block;
            margin-left: 20px;

            a{
              text-decoration: none;
              color: rgb(71, 60, 60);
              font-weight: 500;
            }
        }
    }

    @keyframes App-logo-spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
      
}
